FINSENSE_APP_ENV=dev
FINSENSE_MAX_POSITION_PCT=5.0
FINSENSE_VAR_LIMIT_PCT=1.5
FINSENSE_CONFIDENCE_THRESHOLD_BUY=0.62
FINSENSE_CONFIDENCE_THRESHOLD_SELL=0.62
FINSENSE_MAX_PORTFOLIO_VAR_PCT=3.0
FINSENSE_MAX_CORRELATION_CLUSTER=0.75
FINSENSE_ENABLE_ML_TRAINING=true
